.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

#carouselExampleControls .carousel-control-prev,
#carouselExampleControls .carousel-control-next {
    z-index: 1050;
    /* Valor mais alto para garantir que esteja acima dos cards */
    width: 5%;
    /* Reduzir a largura para evitar sobreposição */
}

#carouselExampleControls .carousel-inner {

    justify-content: center;
    align-items: center;

}

#carouselExampleControls .carousel-item {
    justify-content: center;
    align-items: center;

}


#map {
    /* Substitua 'idDoSeuMapa' pelo ID real do seu elemento de mapa */
    margin-top: 25px;
    /* Ajuste este valor conforme necessário */
}


h2 {

    text-align: center;
}

img {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    background: -166.023px -211.206px / 595.614% 595.614% no-repeat;

}

body {
    background-image: url('./BSSaoGabriel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.carrossel {
    display: flex;
    overflow-x: auto;
    gap: 16px;
}

.card {
    width: 200px;
    /* ... outros estilos do card */
    cursor: pointer;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;

}

#paradasDiv {
    align-content: center;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.btn-primary {
    width: 100%;
    border-radius: 10px;
    background: #FF5200;
    border-color: #FF5200;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Mulish';
    text-transform: uppercase;
}

a:hover {
    color: #035;
}

.btn-primary:hover {
    background-color: #035;
}

.btn-outline-secondary {
    color: #FF5200 !important;
    border: none !important;
}

.btn-outline-secondary:hover,
.btn-float-end:hover {
    color: #ccc !important;
    background-color: #00000000 !important;
}

.offcanvas {
    width: 250px;
    background-color: #035;
    color: #fff;
}

.offcanvas-body {
    padding: 20px;
}

.navlink {
    color: #ccc;
    font-size: 1.2rem;
}

.navlink:hover {
    text-decoration: none;
    color: #FF5200;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    width: 250px;
    background-color: #035;
    color: #ccc;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.imgcanva {
    width: 20%;
    height: 30%;
}

.hrheader {
    margin-top: 0;
}

.hrfooter {
    margin-top: 0;
}

a {
    color: #FF5200;
}

.title {
    color: #000;
    font-family: 'Mulish';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

p,
label {
    color: #000;
    font-family: 'Mulish';
    font-weight: 400;
    text-transform: uppercase;
}

label {
    display: block;
    text-align: left;
}

.ptermos,
.modal-title {
    color: #000;
    font-family: 'Mulish';
    text-transform: none;
}

h5 {
    text-transform: uppercase;
}

.termosuso {
    padding-top: 0.7rem;
    width: max-content;
}

.g-3,
.gy-3 {
    --bs-gutter-y: 0;
}

.cadastro {
    padding: 0.8rem;
    text-align: center;
    padding-block-end: inherit;
}

.container-sm,
.container {
    padding: 20px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 5px 10px 13px 6px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;

}

.form-control {
    border-radius: 10px;
    background: rgba(255, 246, 242, 0.46);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.headerindex {
    background-color: aliceblue;
}

.imgheader {
    display: flex;
    align-items: center;
}

.form-check-input:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked[type=checkbox] {
    background-color: #FF5200;
    border-color: #FF5200;
}

.form-check-input:focus[type=checkbox] {
    box-shadow: 0 0 0 0.1px #FF5200;
}

.S9gUrf-YoZ4jf,
.S9gUrf-YoZ4jf * {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.form-control:focus {
    border-color: #0c0b0b05; /* Cor da borda quando focado */
    background-color: #ccc;
    box-shadow: none; /* Remover a sombra padrão do Bootstrap */
}

.error {
    border: 1px solid red; /* Define uma borda vermelha */
    background-color: #ffcccc; /* Define um fundo vermelho claro */
}

span#nome-error,
span#email-error,
span#conf-error,
span#senha-error {
    color: red;
    display: block;
    text-align: left;
    padding: 5px;
    font-size: 12px;
}

.buttonTwitter {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.twitter-icon {
    margin-right: 5px;
    width: 10%;
    height: 10%;

}

.twitterTxt {
    color: white;
    font-weight: 450;
    font-size: small;
    text-decoration: none;
}

.buttonTwitter:hover {
    background-color: #0d8cbb;
}


@media screen and (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .title {
        font-size: 20px;
    }

    .root {
        padding: 20px;
        border-radius: 10px;
        background: #D9D9D9;
        box-shadow: 5px 10px 13px 6px rgba(0, 0, 0, 0.25);
        justify-content: center;
        align-items: center;
        justify-self: center;
        text-align: center;

    }
}